<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout1</title>
    <link href="../CSS/layout1.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <section class="logo">Company Logo</section>
      <span class="item1">Item 1</span>
      <span class="item2">Item 2</span>
      <span class="item3">Item 3</span>
      <span class="item4">Item 4</span>
    </nav>
    <main>
      <div class="image">Featured Product Image</div>
      <div class="sec1">Product 1</div>
      <div class="sec2">Product 2</div>
    </main>
    <footer>Copyright Notice</footer>
  </body>
</html>
