<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout2</title>
    <link href="../CSS/layout2.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <section class="logo">Company Logo</section>
      <span class="item1">Item1</span>
      <span class="item2">Item2</span>
      <span class="item3">Item3</span>
      <span class="item4">Item4</span>
    </nav>
    <main>
      <div class="loremIpsum">
        <h1>
          Lorem ipsum dolor sit amet, ne saepe<br />
          phaedrum cotidieque has, natum zril pro ei.
        </h1>
        <p>
          Cu vel aliquid lobortis deseruisse. Nam at adipisci dignissim
          forensibus. Qui an<br />
          recreque maluisset assentior, cu ferri aperiam imperdiet sed.
        </p>
      </div>
      <section class="cells">
        <div class="cell1"></div>
        <div class="cell2"></div>
        <div class="cell3"></div>
        <div class="cell4"></div>
        <div class="cell5"></div>
        <div class="cell6"></div>
        <div class="cell7"></div>
        <div class="cell8"></div>
        <div class="cell9"></div>
      </section>
    </main>
    <footer>Copyright Notice</footer>
  </body>
</html>
